<div class="container">
  <h2>User List</h2>

  <button class="add-btn" routerLink="/add-user">
  + Add User
</button>


  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="phone">{{ user.phone }}</td>

        <td>
          <button class="edit" (click)="editUser(user.id)">Edit</button>
          <button class="delete" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
