<div class="form-box">
  <h2>Edit User</h2>

  <form #userForm="ngForm" (ngSubmit)="saveUser()" novalidate>

    <!-- NAME -->
    <label>Name:</label>
    <input
      [(ngModel)]="user.name"
      name="name"
      required
      #name="ngModel"
    />

    <div *ngIf="name.invalid && name.touched" class="error">
      Name is mandatory
    </div>

    <!-- EMAIL -->
    <label>Email:</label>
    <input
      [(ngModel)]="user.email"
      name="email"
      required
      email
      #email="ngModel"
    />

    <div *ngIf="email.invalid && email.touched" class="error">
      Email is mandatory
    </div>

    <!-- PHONE -->
    <label>Phone:</label>
    <input
      [(ngModel)]="user.phone"
      name="phone"
    />

    <!-- BUTTONS -->
    <div class="buttons">
      <button class="save" type="submit" [disabled]="userForm.invalid">
        Save
      </button>

      <button class="cancel" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>

  </form>
</div>
